*{
   font-family:BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
   margin: 0px;
   padding: 0px;
}
#navDream{
    border: 0px solid black;
    width: 100%;
    height:100px;
    margin: auto;
    background-color: #003580;
    position: fixed;
    top:0;
    z-index:2;
}    
#parantDream-div{
    display: flex;
    width: 70%;
    height: 100%;
    margin: auto;
    border: 0px solid red;
    align-items: center;
    justify-content: space-between;
}
#logoDream{
    border: 0px solid white;
    width:20%;
    height:100%;
    display:flex;
    align-items: center;
}
#logoDream>img{
 width:80%;
}
#loginDream{
    display: flex;
    width:40%;
    justify-content: space-between;
    align-items: center;
    border:0px solid white;
}
#Dinr{
    color:white;
    font-weight:400;
}
#Dlang{
    border-radius: 50%;
    width:28px;
    height:28px;
}
#Dlang>img{
    border-radius: 50%;
    width:100%;
    height:100%;
}
#Dques{
    filter: invert();
}
#Dcomme{
    filter: invert();
}
#Dnotify{
    filter: invert();
}
#Dprofile{
    display: inline-flex;
    gap:7px;
    align-items: center;
}
#Dprofile>h3{
    color:white;
}
#Dprofile>div{
    background-color: #FEBB02;
    width:32px;
    height:32px;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
#mainDream-div{
    display:flex;
    width:70%;
    margin:auto;
    margin-top: 30px;
    border: 0px solid green;
    position: relative;
    top:100px;
}
#leftDream-div{
    display:flex;
    flex-direction:column;
    border:0px solid red;
    width:33%;
    gap:15px;
    margin-right:20px;
    padding: 0px 15px;
}
#rightDream-div{
    display:flex;
    width:68%;
    flex-direction:column;
    border:0px solid red;
    gap:15px;
}

#Dream-show-product{
    display:flex;
    gap:15px;
    padding:15px;
    border: 1px solid rgb(219, 218, 218);
}
#Dream-review-btn{
    background-color: #003580;
    border:none;
    font-size:14px;
    padding: 5px 10px;
    color:white;
    border-radius: 4px 4px 4px 0px;
}
#Dream-div1{
    width:280px;
    height: 170px; 
    border-radius:3px;   
}
#Dream-div1>img{
    width:100%;
    height:100%; 
    border-radius:3px;     
}
#Dream-div2>p{
    font-size:18px;
    font-weight: 500;
    text-decoration: underline;
    color:#0071C2;
}
#Dream-rat{
    font-weight: normal;
    font-size:14px;
}
#Dream-goodToKnow{
    border: 1px solid rgb(219, 218, 218);  
    padding:15px; 
}
#Dream-goodToKnow>div{
    display:flex;
    flex-direction: column;
    gap:10px; 
    margin-top:20px;
}
#Dream-goodToKnow>div>div{
    display:flex;
    gap:10px;
}
#Dream-goodToKnow>div>div>img{
    width:25px;
    height:25px;
}
#Dream-EnterDetails{
    border: 1px solid rgb(219, 218, 218);  
    padding:15px; 
    display:flex;
    flex-direction:column;
    gap:10px;
    background-color:#EBF3FF;
}
#d-div1{
    width: 100%;
    display:inline-flex;
    justify-content: space-between;
}
#d-div1>div{
    display: inline-flex;
    align-items: center;
    background-color: white;
    padding:7px;
    border-radius:5px;
}
#d-div2{
    background-color:#D2EDD5;
    padding:6px 10px;
    width:46%;
    border-radius:5px;
    color:#515b2c;
}
#d-div3>div{
  display:inline-flex;
  align-items: center;
  gap:10px;
  margin-top:10px;
}
#d-div3>div>input{
    width:20px;
    height:20px;
}
#d-div4{
    width:50%;
    display:flex;
    flex-direction:column;
}
#d-div4>label{
    margin-top:13px;
    font-weight: bold;
    font-size:14px;
}
#d-div4>input{
    padding:8px;
    border-radius:5px;
    border: 0.1px solid #a8a8a8;    
}
#d-div4>p{
    font-size:14px;
    color:#828181;
}
#d-div5{
    display:flex;
    flex-direction:column;
    gap:10px;
}
#d-div5>div{
    display:flex;
    gap:10px;
}
#d-div5>div>input{
    width:20px;
    height:20px;
}
#Dream-standard{
    display: flex;
    flex-direction:column;
    gap:10px;
    padding:15px;
    background-color:#EBF3FF;
}
#D-div1{
    display:flex;
    gap:10px;
    color: #008009;
}
#D-div2{
    display:flex;
    gap:15px 10px;
}
#D-div3{
    display:flex;
    gap:5px;
    margin-top:10px;
}
#D-div3>div{
    border: 1px solid #45b54d;
    display:flex;
    gap:7px;
    padding:3px;
    background-color:#ddf1e0;
}
#D-div3>div>p{
    font-size:11px;
}
#D-div4>div{
    display:flex;
    flex-direction: column;
    gap:3px;
    margin-top:20px;
}
#D-div4>div>div{
   display:flex; 
   gap:15px;
}
#D-div4>div>div>img{
    width:20px;
    height:20px;
}
#D-div4>div>div>p{
    font-weight:500;
    font-size:15px;
}
#D-div4>div>p{
    font-size:12px;
}
#D-div5>div{
    display: inline-flex;
    align-items: center;
    margin-top: 30px;
}
#D-div5>div>h4{
    font-size: 14px;
}
#D-div5>div>input{
    width:50px;
    height:30px;
    margin-left:5px;
}
#D-div5>h4{
    margin-top:12px;
    font-size:14px;
    margin-bottom:3px;
}
#D-div5>input{
    border-radius:5px;
    border: 0.1px solid rgb(160, 160, 162);
    width:50%;
    height:35px;
}
#Dream-add-stay{
    display: flex;
    flex-direction:column;
    gap:10px;
    padding:15px;
    background-color:#EBF3FF;
}
#Dream-add-stay>div{
    margin-top:15px;
}
#Dream-add-stay>div+div{
    margin-top:30px;
}
#Dream-add-stay>div>div{
    display: flex;
    gap:10px;
    align-items: center;
}
#Dream-add-stay>div>p{
    margin-left:32px;
    font-size:13px;
    margin-top:2px;
}
#Dream-add-stay>div>div>input{
    width: 23px;
    height: 23px;
}
#Dream-Special-requests{
    display: flex;
    flex-direction:column;
    gap:10px;
    padding:15px;
    background-color:#EBF3FF;
}
#Dream-Special-requests>p{
    margin-top:15px;
    margin-bottom:15px;
}
#Dream-Special-requests>input{
    height:70px;
}
span{
    color:#a49c9c;
    font-weight: lighter;
}
#Dream-div2{
    display:flex;
    flex-direction:column;
    gap:10px;
}
#Dream-div2>p{
    font-size:14px;
}
#Dream-div2>div{
    display: flex;
    gap:10px;
    align-items:center;
}
#Dream-div2>div>p{
    font-size: 13px;
}
#Dream-n-div{
    display: flex;
    gap:15px;
    align-items: center;
}
#Dream-minus{
    font-size:20px;
    padding: 0px 10px;
}
#Dream-plus{
    font-size: 20px;
    padding: 0px 7px;
}
#Dream-plus,#Dream-minus:hover{
    cursor: pointer;
}
#Dream-av-div{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
#Dream-av-btn{
   background-color: #008009;
   font-size: 15px;
   color:white;
   border: none; 
   padding:5px 10px;
   border-radius: 3px;
}
#Dream-nextbtn{
    border: 0px solid green;
    display: flex;
    padding: 0px 15px;
    justify-content: flex-end;
}
#Dream-nextbtn>button{
    width:30%;
    height:50px;
    font-size:17px;
    background-color: #0071C2;
    border: none;
    color: white;
    font-weight: 500;
    border-radius:2px;
}
#Dream-nextbtn>button:hover{
    background-color:#003580;
    cursor: pointer;
}
#Dream-d1{
    display:flex;
    flex-direction:column;
    border:1px solid rgb(171, 171, 171);
    text-align: center;
}
#D-checkin-div{
    display:flex;
    width:90%;
    gap:20px;
    margin-top: 20px;
    padding: 15px;
    align-items: center;
    border:0px solid grey;
}

#Dream-line{
    width:0.1px;
    height:80%;
    background-color:rgb(201, 195, 195);
    
}
.Dream-div{
   width:45%;
   display:flex;
   text-align: left;
   font-weight:500;
   flex-direction:column;
   gap:10px;
}
.Dream-div>h5{
    font-size:15px;
}
.Dream-div>p{
    font-size:14px;
}
#Dream-pricediv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border:1px solid rgb(219, 218, 218);
    padding: 15px;
    background-color:#EBF3FF;
}
#Dream-payment-schedule{
    display: flex;
    border:1px solid rgb(219, 218, 218);
    flex-direction: column;
    gap:15px;
    padding: 15px;
}
#Dream-payment-schedule>div{
    display: flex;
    border: 0px solid black;
    justify-content:space-between;
}
#Dream-payment-schedule1{
    display: flex;
    border:1px solid rgb(219, 218, 218);
    flex-direction: column;
    gap:15px;
    padding: 15px;
}
#Dream-payment-schedule1>div{
    display: flex;
    border: 0px solid black;
    justify-content:space-between;
}
#dream-discount{
    border:1px solid rgb(219, 218, 218);
    display: flex;
    flex-direction: column;
    padding: 15px;
}
#dream-discount>div{
    display:flex;
    flex-direction: column;
    gap:15px;
    margin-top:20px;
}
#dream-discount>div>div{
   display:flex; 
   gap:15px;

}
#dream-discount>div>div>img{
    width:20px;
    height:20px;
}
#dream-discount>div>div>p{
    font-weight:500;
    font-size:15px;
}
#dream-discount>div>p{
    font-size:12px;
}
#phone{
    width:75%;
    height:40px;
    border-radius:3px;
    font-size: 16px;
    border:0.1px solid rgb(198, 195, 195);
}
#dr-country{
    width:100%;
    height:40px;
    border-radius:3px;
}
#Dr-details{
    display: flex;
    flex-direction: column;
    gap:5px;
}
#Dr-details>div{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#dr-cntrycode{
    display: flex;
    width:60%;
    flex-direction: column;
}
#dr-cntrycode+div{
    display: flex;
    flex-direction: column;
    border:0.1px solid rgb(232, 228, 228);
    padding: 0px 15px 0px 15px;    
}
#dr-cntrycode>label{
    margin-top:20px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight:700;
}
#dr-cntrycode+div>h4{
    margin-bottom: 5px;
    margin-top: 15px;
}
#dr-cntrycode+div>p{
   font-size:15px;
   margin-bottom:20px;
}
#dr-promocode{
    border:1px solid rgb(219, 218, 218);
    display: flex;
    flex-direction: column;
    padding: 15px; 
}
#dr-promocode>h4{
    margin-bottom:15px;
}
#dr-promocode>label{
    font-size:13.5px;
    font-weight:500;
    margin-bottom: 5px;
}
#dr-promocode>input{
    height:35px;
    border-radius: 3px;
    border:0.1px solid rgb(188, 187, 187);
    margin-bottom:10px;
}
#dr-promocode>button{
    width:23%;
    height:35px;
    font-size: 15px;
    font-weight:500;
    color:#0071C2;
    background-color: white;
    border: 1px solid #0071C2;
}
#Dr-details>div+div{
    display: flex;
    flex-direction: column;
}
#Dr-details>div+div>p{
    font-size:14.5px;
    color:#828181;
    margin-bottom:15px;
}
#Dr-details>div+div>div{
    display: flex;
    gap:10px;
}
#d-chbox{
    width: 20px;
    height: 20px;
}
#d-chbox+p{
    font-size: 15px;
}
#Dr-details>div+div>div+p{
    margin-left:35px;
    font-size: 13px;
}
#dr-paymentcard{
    display: flex;
    flex-direction: column;
    padding: 15px;
    border:1px solid rgb(219, 218, 218);
    background-color:#EBF3FF;
}
form{
    display: flex;
    flex-direction: column;
    width:50%;
}
form>label{
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 13.5px;
    font-weight: 700;
}
form>input,select{
    width: 100%;
    height: 35px;
    border-radius: 4px;
    border:0.1px solid rgb(188, 187, 187);
}
form>select{
    width:90%;
    height: 35px;
    border-radius: 4px;
    border:0.1px solid rgb(188, 187, 187);
}
form+label{
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 13.5px;
    font-weight: 700;
}
form+label+div{
    display: flex;
    gap:10px;
    align-items: center;
}
form+label+div>select{
    width: 30%;
}
form+label+div>select+p+select{
    width: 15%;
}
form+label+div+label{
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 13.5px;
    font-weight: 700;
}
form+label+div+label+p{
    font-size: 14.5px;
}
#dr-conditions{
    padding: 15px;
}
#dr-conditions>div{
    display: flex;
    gap:10px;
    margin-bottom: 10px;
}
#dr-conditions>div>input{
    width:30px;
    height:30px;
}
#dr-conditions>div>p{
    font-size:13.6px;
}
#dr-conditions>div+p{
    font-size: 12px;
    margin-left: 35px;
}
span{
    text-decoration: underline;
    font-weight: 700;
    font-size: 13.7px;
    color:#0071C2;
}
#dr-conditions>div+p+p{
    font-size: 14.3px;
    margin-left: 35px;
    margin-top:10px;
}
#dr-lockbtn{
    padding: 15px;
    display: flex;
    gap:10px;
    justify-content: flex-end;
    margin-top:-7px;
}
#dr-lockbtn>button{
    width:30%;
    height:50px;
    display: flex;
    gap:8px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    color: #0071C2;
    background-color:#0071C2;
    border: 1px solid #0071C2;
}
#dr-lockbtn>button:hover{
    cursor: pointer;
    background-color: #003580;
}

#dr-lockbtn>button>p{
    font-size:16px;
    font-weight: 500;
    color: white;   
}
#dr-lockbtn>button>img{
    filter: invert();
}
#dr-lockbtn+div{
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    margin-top: -14px;
}
#dr-lockbtn+div>p{
    font-weight:500;
    text-decoration: underline;
    color: #0071C2;
}
/* --------------------------------------------------POP-UP-CSS----------------------------- */

.promo-pop-up{
    width:99vw;
    height:50vw;
    border: 0px solid red;
    position:absolute;
    top:400px;
    z-index:3;
    background-color: black;
    filter: opacity(60%);
    display: none;
}
.promo-pop-up1{
    width:40%;
    height:60%;
    border: 0px solid red;
    position:absolute;
    top:540px;
    left:30%;
    z-index:3;
    background-color:white;
    border-radius: 5px;
    text-align: center;
    display: none;
}
.promo-pop-up1>h1{
    font-size:50px;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #0071C2;
    font-family:cursive;
}
.promo-pop-up1>h2{
    font-size:35px;

}
.promo-pop-up1>h3{
    font-size:30px;
    margin-top:20px;

}
.promo-pop-up1>h4{
    font-size:25px;
    margin-top:20px;
    
}
.promo-pop-up1>button{
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
    width:20%;
    height: 40px;
    color: #0071C2;
    background-color: white;
    border: 1px solid #0071C2;
    border-radius:5px;
}
.promo-pop-up1>button:hover{
    cursor: pointer;
    background-color: #d3ecfe;
}

.promo-pop-up2{
    width:99vw;
    height:50vw;
    border: 0px solid red;
    position:absolute;
    top:950px;
    z-index:3;
    background-color: black;
    filter: opacity(60%);
    display: none;
}
.promo-pop-up3{
    width:30%;
    height:50%;
    border: 0px solid red;
    position:absolute;
    top:1170px;
    left:35%;
    z-index:3;
    background-color:white;
    border-radius: 5px;
    text-align: center;
    display: none;
}
.promo-pop-up3>button{
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
    width:20%;
    height: 40px;
    color: #0071C2;
    background-color: white;
    border: 1px solid #0071C2;
    border-radius:5px;
}
.promo-pop-up3>button:hover{
    cursor: pointer;
    background-color: #d3ecfe;
}
.promo-pop-up3>h1{
    font-size:45px;
    margin-top: 20px;
    margin-bottom:20px;
    color: #0071C2;
}

