#container {
  display: flex;

  width: 100%;
  margin: auto;
  margin-top: 10px;
}

/* #ss_box-1 {
  width: 264px;
  height: 434px;
  background-color: #febb02;
} */

#ss_listcount_div {
  margin: auto;
  width: 80%;
  padding: 20px;
  display: flex;
}
#ss_listcount {
  font-size: 20px;
  color: #0071c2;
  /* padding-right: 10px; */
  font-weight: bold;
}
#ss_listcount_div p {
  font-size: 20px;
  color: black;
  padding-right: 10px;
  font-weight: bold;
}

#ss_box-2 {
  width: 80%;
  margin: auto;
}
.ss_item {
  border: 0px solid gray;
  padding: 10px;
  display: flex;
  margin-bottom: 10px;
  width: 100%;
  /* margin: auto; */
  justify-content: space-evenly;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  gap: 15px;
}

.ss_one-item > img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.ss_one-item {
  /* border: 1px solid gray; */
  width: 20%;
}

.ss_two-item {
  /* border: 1px solid gray; */
  width: 50%;
}
.ss_two-item p {
  margin-bottom: 10px;
}
.ss_three-item {
  /* border: 1px solid gray; */
  width: 18%;
}
.ss_three-item p {
  margin-bottom: 10px;
}

.ss_four {
  margin-bottom: 10px;
}
.ss_review1-item {
  background-color: #003580;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  width: 15%;
}
.ss_name-item {
  font-size: 20px;
  color: #0071c2;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
  font-weight: bold;
}

.ss_strikeprice1 {
  color: red;
  text-decoration: line-through;
  font-size: 14px;
}

.ss_deal {
  background-color: #008009;
  color: #fff;
  padding: 5px;
  width: 19%;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 12px;
}

.ss_availability {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  background-color: #0071c2;
  color: #fff;
  padding: 5px;
  width: 65%;
  align-items: center;
}

.ss_price-item {
  font-size: 20px;
}

.ss_remove_item {
  height: 35px;
  background-color: red;
  border: none;
  border-radius: 3px;
  color: #fff;
  margin-bottom: 10px;
  width: 80%;
}

.ss_update_price {
  height: 35px;
  background-color: grey;
  border: none;
  border-radius: 3px;
  color: #fff;
  /* margin-right: 5px; */
  margin-bottom: 10px;
  width: 80%;
}

#ss_operation {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}

#ss_operation button {
  /* background-color: green; */
  border: none;
  border-radius: 3px;
  /* color: #fff; */
  padding: 10px;
}

#ss_operation button:hover {
  background-color: #003580;
  color: #fff;
  cursor: pointer;
}
