/* .gif{
  animation: fading 10s infinite;
} */

.homevideo{
  width: 100%;
}

#SKlogoDiv{
  width: 30%;
  border: 0px solid black;
  justify-content: center;
  align-items: center;
}
#SKlogo{
  width: 40%;
  cursor: pointer;
}
#SKnavbar{
  border: 0px solid black;
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  position: absolute;
  top: 3%;
  left: 10%;
  z-index: 1;
}

#cntry{
  border: 0px solid red;
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items:center;
  margin-left: 200px;
}
#skCntry{
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 3px;
}
#skFlag{
  width: 20%;
  height: 30px;
  border-radius: 40px;
}
#SKbuttons{
  display: flex;
}
#SKLinks1{
  border: 0px solid blue;
  width: 60%;
  display: flex;
  justify-content: space-between;
}
#SKbuttons{
  width: 50%;
  border: 0px solid black;
  display: flex;
  justify-content:center;
  gap: 10px;
  align-items: center;
}
#SKbuttons>button{
  height: 40%;
}
#SkLink{
  background-color: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
   z-index: 1;
}
#SkLink:hover{
  background-color:rgba(220, 239, 255, 0.205);
  color: white;
}
.fa-user{
  font-size: 14px;
}
#signinDiv{
  border: 0px solid black;
  display: flex;
  gap: 5px;
}
#signinh5{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
}
#signinDiv>div{
  border: 0px solid white;
  height: 31px;
  width: 31px;
  border-radius: 50%;
  background-color: #0071c2;
  color: white;
}
#skRegister,#skSignIn{
  border: none;
  background-color: white;
  color: #304ef8;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}
#skRegister:hover,#skSignIn:hover{
  background-color: aliceblue;
}
#hotellogo{
  color: black;
}
#PagesLinks{
  display: flex;
  gap:15px;
  position: absolute;
  top: 15%;
  left: 11%;
  border: 0px solid white;
  z-index: 1;
}
#PagesLinks>div>i{
  color: white;
}
#PagesLinks>div:nth-child(1){
  border: 1px solid white;
  border-radius:30px; 
  background-color:rgba(220, 239, 255, 0.205)
}
#PagesLinks>div{
  width : auto;
  border: 0px solid white;
  display: flex;
  gap: 15px;
  justify-content:space-evenly;
  align-items: center;
  color: white;
  font-family: sans-serif;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  height:40px;

}
#PagesLinks>div:hover{
  border: 0px solid white;
  border-radius:30px;
  background-color:rgba(220, 239, 255, 0.205)
}
.swiper-slide{
  position: relative;
  border: 0px solid white;
  cursor: pointer;
  /* box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
}
.swiper-slide>img{
  filter: brightness(80%);
}

#SKcitylona{
  position: absolute;
  bottom:1%;
  left: 3%;
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
}
#SKcitygur{
  position: absolute;
  bottom:1%;
  left:5%;
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
}
#SKcitykol{
  position: absolute;
  bottom:1%;
  left: 5%;
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
}
#SKcitypune{
  position: absolute;
  bottom:1%;
  left: 5%;
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
}
#SKcityhyd{
  position: absolute;
  bottom:1%;
  left: 5%;
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
}
#SKcityjaipur{
  position: absolute;
  bottom:1%;
  left: 5%;
  color:white;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
}

.swiper,.citiesSwiper{
    width: 80%;
    height:fit-content;
    border: 0px red solid;
    margin: auto;
    margin-top: 40px;
    position: absolute;
    bottom: 35%;
    left: 10%;
}
.swiper-wrapper,.swiper-wrapperB,.swiper-wrapperC{
  margin: 1rem;
  position: relative;
  overflow: hidden;
  margin: auto;
  width: 95%;
}
.slides-containerA,.slides-containerB,.slides-containerC{
  /* height: calc(80vh - 2rem); */
  border: 0px solid black;
  display: flex;
  overflow: scroll;
  overflow: hidden;
  scroll-behavior: smooth;
  list-style: none;
  margin: auto;
  padding: 0;
  padding-left: 25px;
}
.slideA,.slideB,.slideC{
  border: 0px solid black;
  flex: 1 0 100%;
  display: flex;
  gap: 10px;
}
.slide-arrowB,.slide-arrowNextB,.slide-arrowNextC{
  position: absolute;
  top:39%;
  left:95.5%;
  width: 3.2%;
  height: 30px;
  border-radius: 200px;
  border: none;
  background-color: rgba(240, 248, 255, 0.593);
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #304ef8;
  cursor:pointer;
}
.slide-arrowPrev,.slide-arrowPrevB,.slide-arrowPrevC{
  position: absolute;
  top: 39%;
  left: 0%;
  width: 3.2%;
  height: 30px;
  border-radius: 200px;
  border:none;
  background-color: rgba(240, 248, 255, 0.593);
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #304ef8;
  cursor: pointer;;
}
#searchBar{
  position: absolute;
  display: flex;
  gap: 7px;
  width: 70%;
  margin: auto;
  height: 50px;
  background-color: #febb02;
  padding: 4px;
  border-radius: 5px;
  top:550px;
  left: 14%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
#searchCity{
  width: 30%;
  /* height: 50px; */
  background-color: white;
  border: 0px solid red;
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 10px;
  padding-left: 6px;
}
#searchCity>i{
  color:#0071c2;
  font-size: 17px;
}
#query{
  border: none;
  width: 90%;
  height: 90%;
}
#query::placeholder{
  color: black;
  font-family: sans-serif;
  font-size: 15px;
}
#query:focus{
  outline: 0px;
  border:0px solid white;
  font-size: 15px;
  color:black;
}
#dates{
  border: 0px solid blue;
  width:40%;
  display:flex;
  align-items: center;
  background-color: white;
  padding: 10px;
  font-family: sans-serif;
  font-size: 14px;
  gap: 10px;
}
#dates>p{
  font-family: sans-serif;
}
#skCheckin,#skCheckout{
  color:black;
  border: none;
  width: 30%;
  font-family: sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}
#skCheckin:focus,#skCheckout:focus{
  outline: 0px;
}
#skPerson{
  border: 0px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  background-color: white;
  border: none;
  padding-left: 10px;
  padding-right:10px ;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 14px;
}
#skPerson>i{
  color: #0071c2;
}
#skPerson:hover{
  background-color: #f2f2f2;
}
.searchBtn{
  border: 0px solid black;
  width: 21%;
}
#searchBtn{
  height: 100%;
  width: 100%;
  background-color:#0071c2;
  color: white;
  border: none;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 20px;
  cursor: pointer;
}
.offers{
  border: 0px solid blue;
  width: 80%;
  margin: auto;
  margin-top: 60px;
}
#offerH2{
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: normal;
}
#offerP{
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: normal;
  color: #6b6b6b;
}
#promo{
  border: 0px solid black;
  width: 80%;
  margin: auto;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  position: static;
}
#ladywithLap{
  border: 0px solid black;
  width: 50%;
}
#ladywithLap>img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#textpromo{
  position: absolute;
  top: 105%;
  margin-left: 15px;
}
#escape{
  color: #f2f2f2;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  letter-spacing: normal;
  font-weight: bold;
}
#enjoy{
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: white;
}
#exploreBtn{
  height: 36px;
  width: 176px;
  background-color: #0071c2;
  border: none;
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
#promoApp{
  width: 50%;
  border: 0px solid black;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding-left: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#appImg>img{
  width: 60%;
  border: 0px solid blue;
  display: block;
  margin-left: 20px;
}
#every{
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: black;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  font-weight: bold;
}
#findthe{
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: #262626;
  font-size: 14px;
  text-align: left;
}
#appBtn{
  border: none;
  background-color: #0071c2;
  color: white;
  height: 36px;
  width: 101px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.explore{
  width: 80%;
  margin: auto;
  border: 0px solid black;
  margin-top: 20px;
}
#citiesSwiper{
  border: 0px solid black;
  width:80%;
  margin: auto;
  height:fit-content;
  border: 0px red solid;
  margin: auto;
}
#slides-containerB{
  gap: 10px;
}
#slide-arrow-prevB{
  top:30%;
  left: 1%;
  background-color: rgba(167, 174, 180, 0.808);
}
#slide-arrow-nextB{
  top:30%;
  left: 94%;
  background-color: rgba(167, 174, 180, 0.808);
}
#cityimg{
  border: 0px solid black;
  width: 170px;
  height: fit-content;
  text-align: left;
  cursor: pointer;
}
#cityimg>img{
  width: 100%;
  border-radius: 1px;
}
#cityimg>img:hover{
  filter:brightness(70%)
}
#cityimg>h3{
  font-family: sans-serif;
  border: 0px solid black;
  font-size: 16px;
}
#cityimg>p,#propcount{
  border: 0px solid black;
  font-family: sans-serif;
  color: #6b6b6b;
  font-size: 14px;
}
#countriesFolder{
  border: 0px solid black;
  width: 80%;
  margin: auto;
  margin-top: 50px;
  display: grid;
  gap: 10px;
}
#delhiMumbai{
  display: flex;
  border: 0px solid blue;
  justify-content: space-between;
  gap: 10px;
}
#newDelhiSK{
  border: 0px solid yellow;
  width: 50%;
}
#townImagedelhi{
  width: 100%;
  height: 100%;
}
#mumbaiSK{
  width: 50%;
  border: 0px solid yellow;
}
#townImagemumbai{
  width: 100%;
  height: 100%;
}
#townImagedelhi:hover,#townImagemumbai:hover,#jDA>div>img:hover{
  cursor: pointer;
  filter: brightness(70%);
}
#cntrynameimg{
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 70%;
}
#cntrynameimg>p{
  color: white;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: bold;
}
#cntrynameimg>img{
  border: 0px solid black;
  width: 10%;
  height: 10px;
}
#jDA{
  display: flex;
  gap: 10px;
}
#jDA>div{
  width: 33%;
}
#jDA>div>img{
  width: 100%;
  height:100%;
}
#offerH2new{
  width: 80%;
  margin: auto;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: normal;
  margin-top: 10px;
}
#propertySwiper{
  width: 80%;
  border: 0px solid black;
  margin: auto;
  margin-top: 20px;
}
#slides-containerC{
  border: 0px solid blue;
  gap: 10px;
}
#slideC{
  display: flex;
  gap: 20px;
}
#propImg{
  width: 30%;
}
#propImg>img{
  width: 100%;
  cursor: pointer;
}
#propType{
  color: black;
  font-weight: bold;
  font-size: 19px;
  font-family: sans-serif;
  letter-spacing: 1px;
}
#slide-arrow-nextC{
  left: 97%;
  top: 24%;
  background-color: rgba(167, 174, 180, 0.808);

}
#slide-arrow-prevC{
  top:25%;
  background-color: rgba(167, 174, 180, 0.808);
}
.propImg{
  border: 0px solid red;
  width: 20%;
}
.cabin{
  border: 0px solid blue;
  width: 50%;
}
.getinsi{
  width: 80%;
  margin: auto;
  margin-top: 50px;
  border: 0px solid black;
  font-family:BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
#insipirations{
  border: 0px solid black;
  width: 80%;
  margin: auto;
  margin-top: 30px;
}
#insi1,#insi2{
  display: flex;
  gap: 10px;
}
#insi1>a>div>img{
  width: 100%;
  position: relative;
  filter: brightness(60%);
}
#insi1>a>div>img:hover,#insi2>a>div>img:hover{
  filter: brightness(80%);
}
#insiContent{
  border: 0px solid white;
  width: 25%;
  position: absolute;
  top: 345%;
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  text-align: left;
  padding: 10px;
}
#insi2>a>div>img{
  width: 100%;
  filter: brightness(60%);
  position: relative;
}
#insiContent2{
  border: 0px solid white;
  position: absolute;
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  top: 405%;
  margin-left: 10px;
  width: 35%;
}
#insiContent2>h3{
  font-size: 25px;
}
#connectwithother{
  display: flex;
  width: 50%;
  gap: 20px;
  margin-top: 20px;
  border: 0px solid black;
  margin-left:150px;
  margin-bottom: 100px;
}
#connectwithother>a>div{
  border: 0px solid blue;
}
#connectwithother>a>div>img{
  width: 100%;
  border-radius: 5px;
}
#connectwithother>a>div>img:hover{
  filter: brightness(80%);
}
#connectwithother>a>div>h3{
  font-family: sans-serif;
  color: black;
  text-decoration: none;
  font-size: 15px;
}
#connectwithother>a>div>p{
  text-decoration: none;
  font-family: sans-serif;
  color: #6b6b6b;
  font-size: 12px;
}
#skPersonDiv{
  border: 0px solid black;
  width: 20%;
  margin-top: 50px;
  margin-left: 800px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#AdultDiv,#childDiv,#roomDiv{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: sans-serif;
}
#adultsForm,#childForm,#roomsForm {
  border: 0px solid black;
}
.value-button {
  display: inline-block;
  border: 0px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  padding: 11px 0;
  /* background: #eee; */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.value-button:hover {
  cursor: pointer;
}
form #decreaseAdult,#decreaseChild,#decreaseRoom{
  /* margin-right: -4px; */
  border: 2px solid #0071c2;
  background-color: none;
}
form #increaseAdult,#increaseChild,#increaseRoom{
  /* margin-left: -4px; */
  border: 2px solid #0071c2;
}
input#Adultnumber,#Childnumber,#Roomnumber{
  text-align: center;
  border: none;
  border-top: 0px solid #ddd;
  border-bottom: 0px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 40px;
  color: #0071c2;
  font-weight: bold;
}
/* input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none;
    margin: 0;
} */
.popup,.searchPopUp{
  /* margin-top: 50px;
  width: 100%; */
  text-align: center;
  transform: scale(0.1);
  background-color:white;
  position: absolute;
  visibility:hidden;
  transition: transform 0.2s, top 0.10s;
  z-index:5;
}
.open_popup,.openSearch_popup{
  visibility: visible;
  transform: scale(1);
}
#cross{
  font-size:15px;
  cursor: pointer;
  border: 1px solid #0071c2;
  font-family: sans-serif;
  width:45%;
  border-radius: 5px;
  margin-left: 120px;
}
#cross:hover{
  background-color:#ddd;
}

#searchpopupdiv{
  border: 0px solid black;
  width:20%;
  margin-top: 35px;
  margin-left: 205px;
  border-radius:10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* display: grid; */
  /* grid-template-columns: repeat(5,1fr); */
}
#searchpopupdiv>div{
  border: 0px solid blue;
  font-family: sans-serif;
  text-align: left;
  height: 50px;
  align-items: center;
  cursor: pointer;
  padding: 20px;
}
#searchpopupdiv>div>p{
  color: #6b6b6b;
  margin-left: 20px;
}
#searchpopupdiv>div:hover{
  background-color: #ddd;
}
#cityicon{
  display: flex;
  gap: 10px;
}
#cityicon>option{
  font-weight: bold;
}
#cityicon>i{
  color: #6b6b6b;
}



/* footer stykling */
#HP_footer-container{
  background-color: #ecf3fc;
  padding-bottom: 7px;
  margin-bottom: 0%;
  font-family: sans-serif;
  width: 80%;
  margin: auto;
}
#HP_about{
  display: flex;
  text-align: center;
  padding: 2%;
  color: white;
  background-color: rgb(22, 16, 108);
  font-weight: 800;
  justify-content: space-around;
  /* word-spacing: 2%; */
  font-family: "Open Sans", sans-serif;
}
a{
  color: white;
}
hr{
  background-color: rgba(255, 255, 255, 0.84);
}
#HP_all_links{
  width: 80%;
  margin: auto;
  padding-top: 3%;
  display: flex;
  padding-bottom: 2%;
}
#HP_links_container1{
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  font-size: small;
  padding: 0 20px;
  font-family: "Open Sans", sans-serif;
  
}
#HP_links_container1>div>h4{
  margin-top: 5%;
  font-weight: 200;
  color: #46474A;
  font-family: "Open Sans", sans-serif;
}
#HP_links_container1>div>h4:hover{
  cursor: pointer;
}

/* #HP{
  width: 50%;
  font-size: 90%;
  padding:  10px 20px
} */

#HP_links_container2>div{
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}
#HP_qr_images{
  width: 33%;
  display: flex;

}
#HP_qr_images>div:last-child{
  display: flex;
  flex-direction: column;
}
#HP_qr_images>div:last-child>img{
  width: 100%;
}#HP_qr_images>div:first-child>img{
  width: 100%;
}
#HP_qr_images>div:last-child>img:nth-child(2){
  margin: 3% 0px;
  font-family: "Open Sans", sans-serif;
}

.HP_links_icon{
  width: 10%;
}
#HP_important_links{
  margin-right: 2%;
  width: 45%;
  font-family: "Open Sans", sans-serif;
}
#HP_important_links>div:nth-child(2){
  margin: 6% 0px;
  font-family: "Open Sans", sans-serif;
}
#HP_important_links>div{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}
#HP_important_links>div>span{
  margin-left: 5%;
  font-family: "Open Sans", sans-serif;
}

#HP_social_links{
  width: 40%;
}

#HP_copyright{
  text-align: center;
  padding: 2%;
  color: rgb(118, 119, 122);
  font-family: "Open Sans", sans-serif;
}

#HP_footer_img_log{
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}
#HP_foot_bookit_logo{
  width: 7%;
}